// Colours - Fonts
$primary-color: #EFEFEF;
$secondary-color: #3B8BB8;

// Colours - UIs
$btn-bg-color: #4C5155;
$textbox-bg-color: #2B2F31;
$ui-highlighted: #FFE500;
$main-error: #764242;

// Colours - Background
$primary-background-color: #1A1D1E;

// Buttons - Sizes
$btn-reg-width: 15em;
$btn-reg-height: 3em;
$btn-big-width: 25em;
$btn-big-height: 6em;

// Boxes - Colours
$dashboard-header-color: #2B2F31;
$dashboard-content-color: #2B2F31;