@import "grids";
@import "variables";

body {
    // Margins
    margin: 0;

    // Fonts
    font-family: 'IBM Plex Mono', monospace;
    color: $primary-color;

    // Body
    background-color: $primary-background-color;

    // Max-width
    max-width: 1000px;

    // Center everything
    margin: 0 auto;
}